<h2 mat-dialog-title>New Project</h2>
<mat-dialog-content class="mat-typography form-content" [formGroup]="projectForm">
  <mat-form-field style="width: 400px;">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field style="width: 400px;">
    <mat-label>Description</mat-label>
    <input matInput formControlName="description">
  </mat-form-field>


  <mat-form-field style="width: 400px;">
    <mat-label>State</mat-label>
    <input matInput formControlName="state">
  </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="save()">Save</button>
</mat-dialog-actions>
