@use "@angular/material" as mat;

/* ============================
   🟦 THEME ANGULAR MATERIAL M3
   ============================ */
@include mat.core();

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: (
      brand-family: var(--ssm-font),
      bold-weight: 600,
    ),
    density: (
      scale: 0,
    ),
  )
);

:root {
  @include mat.all-component-themes($theme);
}