<div class="report-container">
  <!-- 🟦 HEADER -->
  <div class="title">
    <mat-icon>badge</mat-icon>

    <div class="title-main">Funcionarios por Jefatura</div>
  </div>

  <!-- 👤 USUARIO -->
  <div class="hint">
    <mat-icon>person</mat-icon>
    <span class="nombre">
      {{ jefe?.fullName || "Sin jefe" }}
    </span>
  </div>

  <!-- 🟦 FORM -->
  <div class="jefatura-form">
    <div class="input-group">
      <label>Nombre de Jefatura</label>
      <input class="input" [(ngModel)]="grupo.name" />
    </div>

    <div class="input-group">
      <label>Descripción</label>
      <input class="input" [(ngModel)]="grupo.description" />
    </div>
  </div>

  <!-- 🔄 DUAL LIST -->
  <div class="dual-container">
    <!-- DISPONIBLES -->
    <div class="list-box">
      <div class="card-header disponibles-header">
        <span>Disponibles</span>
        <small>({{ usuariosDisponibles.length }})</small>
      </div>

      <div class="disponibles-search">
        <mat-form-field appearance="fill" class="f-user">
          <mat-label>Buscar</mat-label>
          <input matInput [(ngModel)]="filtroDisponible" />
        </mat-form-field>
      </div>

      <div class="list-content disponibles-list">
        <mat-selection-list [(ngModel)]="selectedDisponibles">
          <mat-list-option
            *ngFor="let u of usuariosDisponiblesFiltrados()"
            [value]="u"
          >
            {{ u.fullName }}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>

    <!-- BOTONES -->
    <div class="dual-actions">
      <button mat-fab class="btn-add" (click)="agregar()">
        <mat-icon>chevron_right</mat-icon>
      </button>

      <button mat-fab class="btn-remove" (click)="quitar()">
        <mat-icon>chevron_left</mat-icon>
      </button>
    </div>

    <!-- ASIGNADOS -->
    <div class="list-box">
      <div class="card-header asignados-header">
        <span>Asignados</span>
        <small>({{ usuariosAsignados.length }})</small>
      </div>

      <div class="list-content asignados-list">
        <mat-selection-list [(ngModel)]="selectedAsignados">
          <mat-list-option *ngFor="let u of usuariosAsignados" [value]="u">
            {{ u.fullName }}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>
  </div>

  <div class="actions-bar">
    <button class="btn-cancel" (click)="cancel()">
      <mat-icon>close</mat-icon>
      Cancelar
    </button>

    <button class="btn-save" [disabled]="!hayCambios()" (click)="guardar()">
      <mat-icon>save</mat-icon>
      Guardar
    </button>
  </div>
</div>
