<mat-card class="dialog-card">
  <!-- Encabezado azul institucional -->
  <div class="header-azul-dialog">
    <div class="title-main">
      Tipo de Previsión:
      <strong>{{ getIntPrevName() }}</strong>
    </div>

    <div class="title-sub">
      {{ form.value.id ? 'Modificar Previsión' : 'Nueva Previsión' }}
    </div>
  </div>

  <form [formGroup]="form" class="dialog-body">
    <!-- Campo para escribir o editar la previsión -->
    <mat-form-field appearance="fill" class="full">
      <mat-label>Previsión</mat-label>
      <input
        matInput
        formControlName="name"
        placeholder=""
      />
    </mat-form-field>

    <!-- Botones -->
    <div class="actions">
      <button mat-stroked-button color="warn" type="button" (click)="cancel()">
        Cancelar
      </button>

      <button mat-flat-button color="primary" type="button" (click)="save()">
        {{ form.value.id ? 'Guardar Cambios' : 'Crear Previsión' }}
      </button>
    </div>
  </form>
</mat-card>
