//C:\Users\pjara\Documents\DESARROLLO\ANGULAR\rda-sm\src\app\views\manual\manual.component.scss
@use './manual.shared.scss' as *;

.manual-container {
  position: relative; // ✅ vuelve al flujo normal
  display: flex;
  flex-direction: column;
  gap: 14px;

  background: $bg-soft;
  padding: 24px;
  border-radius: 20px;

  width: 100%;          // 🔑 ocupa el espacio del body
  max-width: 1400px;    // 🔑 alineado al frontend
  margin: 0 auto;

  overflow-y: auto;
  max-height: calc(100vh - 180px); // 🔑 deja respirar header + banner
}


.manual-content {
  display: flex;
  flex-direction: column;
  gap: 16px;

  max-width: 1200px; // 🔑 más acorde al container
  margin: 0 auto;
}

/* 🟦 BOTÓN FLOTANTE */
.btn-indice {
  position: fixed; // ✅ CLAVE
  right: calc((100vw - 1200px) / 2 + 16px);
  top: 50%;
  transform: translateY(-50%);

  z-index: 1000;
  opacity: 0.9;

  &:hover {
    opacity: 1;
    transform: translateY(-50%) scale(1.05);
  }
}
